$main-color: #091a28;
$accent-color: #CCFFDD;
$white: #FFFFFF;
$main-color-faded: rgba( $main-color, .5 );
$main-color-faded-again: rgba( $main-color, .1 );
$accent-color-faded: rgba( $accent-color, .5 );

@mixin text($color) {
  color: $color;
}

.text-main {
  @include text($main-color);
}
.text-accent {
  @include text($accent-color);
}
.text-main-faded {
  @include text($main-color-faded);
}
.text-accent-faded {
  @include text($accent-color-faded);
}
.text-white {
  @include text($white)
}