// All variables needed
$breakpoints: (
  "sm": 320px,
  "md": 767px,
  "lg": 1025px,
) !default;
$dark: #0E0E0E !default;
$purple: #A6A3D0 !default;
$light: #FFFFFF !default;

@mixin mq($mq-breakpoint, $mq-breakpoints: $breakpoints) {
  // If $mq-breakpoint is a key that exists in
  // $mq-breakpoints, get and use the value
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }

  @media screen and (min-width: #{$mq-breakpoint}) {
    @content;
  }
}
.image-card {
  background:  $purple;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 5.2rem;
  img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  @include mq('md') {
    width: 18rem;
    height: 18rem;
    margin-top: 5.2rem;
  }
  @include mq('lg') {
    width: 26rem;
    height: 26rem;
    margin-top: 0;
  }
}